* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    min-height: 150px;
    display: flex;
    background-color: yellow;
    align-items: center;
}

#title {
    width: 50%;
    height: 100px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    background-color: pink;
    flex: 0 0 inherit;
}

.headerBtnBox {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.headerBtn {
    min-width: 100px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    padding: 15px 5px;
    background-color: blue;
}

.mainContent {
    /* display: flex; */
}

.sidebar {
    width: 20%;
    background-color: red;
    height: 100%;
    float: left;
}

.sideBarTab {
    font-size: 25px;
    color: white;
    text-align: center;
    height: 35px;
    padding: 5px 0px;
    background-color: maroon;

}

.mainPanel {
    width: 80%;
    background-color: teal;
    height: 100%;
    float: left;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.todoCard {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}

.todoCardStatusBtn {
    border: 1px solid black
}

.todoCardStatusBtn:hover {
    cursor: pointer;
}





@media screen and (max-width: 769px) {
    .header {
        flex-wrap: wrap;
    }

    #title {
        flex: 1 1 inherit;
        font-size: 30px;
        min-width: 100%;
    }

    .headerBtnBox {
        min-width: 100%;
    }

    .headerBtn {
        font-size: 20px;
        height: 50px
    }
}